/* shared style */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;700;800&display=swap');
/* {
    margin: 0;
    padding: 0;
} */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    right: 0;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 15px 35px;
}
.btn-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #181818;
}
.section-description{
    text-align: center;
    color: #757575;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.center{
    text-align: center;
}
/* nav related styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
    margin-right: 0;
    
}
/* .hc{
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
} */

.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #474747;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* main section styles */
section{
    background: #fff;
}
/* about section styles */
.about{
    padding: 150px;
    background-color: #FFF;
}
.about-content{
    padding: 25px 25px;
    border-radius: 10px;
    background: #FFF8F3;
}
.info-box {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
/* service section  */
.service{
    margin-top: 120px;
    padding: 25px;
}
.service-info{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.js, .react, .nodejs, .mongodb{
 margin-right: 25px;
}
.box{
    padding: 25px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume section start here */
.resume{
    margin-top: 120px;
    padding: 25px;
    text-align: justify;
}
.resume-content{
    display: flex;
    justify-content: space-around;
    padding: 35px;
    align-items: center;
}
.education{
    padding: 25px;
    align-items: center;
}
.experience{
    padding: 25px;
    align-items: center;
}
.masters{
    padding: 5px;
    align-items: center;
}
.job{
    padding: 5px;
    align-items: center;
}
/* Footer section start  */
.footer{
   background-color: #FFF8F3;
    
}
.footer-content{
    display: flex;
    justify-content: space-around;
    padding: 25px;
}
.connect{
    padding: 25px;
}
.message{
    padding: 25px;
    line-height: 35px;
}
form{
    line-height: 25px;
}
input[type="text"],[type="email"]{
    border: none;
    padding: 5px;
    border-bottom: 24px;
    border-radius: 10px;
    line-height: 50px;
    color: #fff;
    width: 450px;
}
textarea{
    border: none;
    border-radius: 5px;
    width: 450px;
}